.second-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-bottom: 1px solid rgba(224,220,233,0.8);
    padding: 0 10px;
    padding-bottom: 15px;
}
.second-bar__column{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.second-bar__column i{
   margin: 0 5px;
   padding-right: 15px;
}
