.index__main{
    background-color:var(--green);
}
.header-title{
    margin-top: 50px;
 padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.header-title__second{
    padding-bottom: 60px;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.submit{
    display: flex;
    flex-direction: column;
    margin: 25px 30px;
}
.submit input{
    border:  none;
}
.submit input:not([type="submit"]){
    font-weight: 600;
border: none;
border-bottom: 1px solid #333 ;
background-color: var(--green);
padding: 10px;
margin-bottom: 30px;
transition: border-color 1s ease-in-out ;
}
.submit input:not([type="submit"]):focus{
    border-color: #DDFFAA;
    }
    .submit input::placeholder{
        color: #DDFFAA;
        font-weight: 400;
        font-size: 18px;
    }
.submit__login{
display: flex;
flex-direction: column;
}
.submit input:not([type="text"]){
    border-radius: 15px;
    margin-top: 50px;
    padding: 30px 100px;
    border: none;
    background-color: #DDFFAA;
    cursor: pointer;
    border-bottom: 1px solid #333 ;
    transition: border-bottom 0.3s ease-in-out;
}
.submit input:not([type="text"]):focus{
    border-bottom: #DDFFAA;
}

.submit a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: #DDFFAA;
}
.submit a:visited{
color: #E1DCEA;
}