.status-bar{
    position: sticky;
    top: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-bar__column{
    font-size: 17px;
    display: flex;
    width: 20%;
}
.status-bar__column:first-child i{
margin-left: 4px;
}
.status-bar__column:last-child i{
  padding-left: 8px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
}